<!DOCTYPE html>
<html id="project-details-html" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head"></head>
<body id="project-details-body">

<header>
    <nav th:replace="/fragments/navbar"></nav>
</header>

<main>
    <div class="jumbotron text-center" th:object="${model}">

        <div class="row">
            <div class="col-md-12">
                <div class="blog-card">
                    <div class="meta">
                        <div class="photo"
                             style="background-image: url(/img/Project-Management.jpg)"></div>
                        <ul class="details">
                            <li class="tags">Completion reward:</li>
                            <li class="tags"><small th:text="*{reward}"></small>$</li>
                        </ul>
                    </div>
                    <div class="description">
                        <h1 th:text="*{name}"></h1>
                        <h2>Opening a door to the future</h2>
                        <p th:text="*{description}"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="radio-box">
                    <p>Project tasks</p>
                    <label>
                        <input type="radio" id="allRadio" name="selection" value="all">
                        <span class="yes">All</span>
                    </label>

                    <th:block th:each="status : ${statuses}">

                        <label>
                            <input type="radio" th:id="${status}" name="selection" th:value="${status}">
                            <span class="yes" th:for="${status}" th:text="${status}"></span>
                        </label>

                    </th:block>

                </div>
            </div>
        </div>


        <div class="row project-tasks-container m-5">

            <section id="tasks-data" class="cards-wrapper">


            </section>

        </div>

        <div class="no-data-messages">


        </div>

    </div>

</main>

<footer th:replace="/fragments/footer"></footer>
</body>
<script th:inline="javascript">

    function formatTask(task) {

        let date = formatDate(task);

        return `<div class="card-grid-space">`
            + `<a class="t_card" href="http://localhost:8000/tasks/details/${task.id}" style="--bg-img: url(/img/task-img.jpg)">`
            + `<div>`
            + `<h1>${task.name}</h1>`
            + `<div class="date">${date}</div>`
            + `</div>`
            + `</a>`
            + `</div>`
    }

    function formatDate(task) {

        let date = task.createdOn;

        let d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }

    $('input[type=radio][name=selection]').change(function () {

        let status = $(this).val();

        let projectId = [[${model.id}]];

        fetch('http://localhost:8000/tasks/fetch/' + projectId + '/' + status)
            .then((response) => response.json())
            .then((json) => {
                $('#tasks-data').empty();
                $('.no-data-messages').empty();

                if (json.length === 0) {
                    $('.no-data-messages').append(`<h1 class="font-weight-bold">There are no ${status} tasks.</h1>`)
                } else {
                    for (let i = 0; i < json.length; i++) {
                        $('#tasks-data').append(formatTask(json[i]));
                    }
                }
            })
    });
</script>
</html>