<!DOCTYPE html>
<html id="project-details-html" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head"></head>
<body id="project-details-body">

<header>
    <nav th:replace="/fragments/navbar"></nav>
</header>

<main>
    <div class="container-fluid" th:object="${model}">

        <div class="row">
            <div class="col-md-6">

                <div class="radio-box">
                    <p>Tasks</p>
                    <label>
                        <input type="radio" id="allRadio" name="selection" value="all">
                        <span class="yes">All</span>
                    </label>

                    <th:block th:each="status : ${statuses}">

                        <label>
                            <input type="radio" th:id="${status}" name="selection" th:value="${status}">
                            <span class="yes" th:for="${status}" th:text="${status}"></span>
                        </label>

                    </th:block>

                </div>

            </div>

            <div class="col-md-6 mt-5">

                <a href="#">
                    <figure>
                        <div class="date"><span class="card-date-day" th:text="${model.reward}"></span><span class="card-date-month">$</span></div>
                        <figcaption>
                            <h4> <span th:text="${model.name}"></span></h4>
                            <p th:text="${model.description}"></p>
                        </figcaption>
                    </figure>
                </a>
            </div>


        </div>

        <div id="tasks-data" class="row project-tasks-container">


        </div>

    </div>


</main>

<footer th:replace="/fragments/footer"></footer>
</body>
<script th:inline="javascript">

    $.fn.commentCards = function () {

        return this.each(function () {

            let $this = $(this),
                $cards = $this.find('.project-task-card'),
                $current = $cards.filter('.card--current'),
                $next;

            $cards.on('click', function () {
                if (!$current.is(this)) {
                    $cards.removeClass('card--current card--out card--next');
                    $current.addClass('card--out');
                    $current = $(this).addClass('card--current');
                    $next = $current.next();
                    $next = $next.length ? $next : $cards.first();
                    $next.addClass('card--next');
                }
            });

            if (!$current.length) {
                $current = $cards.last();
                $cards.first().trigger('click');
            }

            $this.addClass('cards--active');

        })
    };

    $('.project-tasks-cards').commentCards();

    function formatTask(task) {
        return `<div class="col">`
            + '<div class="project-task-box mt-3">'
            + `<div class="imgBx">`
            + `<img src="/img/illustration-document-icon_53876-28510.jpg" alt="">`
            + `</div>`
            + `<div class="task-content">`
            + `<h3>${task.name}</h3>`
            + `<p>${task.description}</p>`
            + `</div>`
            + '</div>'
            + `</div>`
    }

    $('input[type=radio][name=selection]').change(function () {

        let status = $(this).val();

        let projectId = [[${model.id}]];

        fetch('http://localhost:8000/tasks/fetch/' + projectId + '/' + status)
            .then((response) => response.json())
            .then((json) => {
                $('#tasks-data').empty();

                if (json.length === 0) {
                    $('#tasks-data').append(`<h1 class="text-center font-weight-bold mt-5">There are no tasks with the ${status} status.</h1>`)
                } else {
                    for (let i = 0; i < json.length; i++) {

                        $('#tasks-data').append(formatTask(json[i]));

                    }
                }
            })
    });
</script>
</html>