<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head"></head>
<body id="manage">

<header>
    <nav th:replace="/fragments/navbar"></nav>
</header>


<th:block th:if="${#lists.isEmpty(models)}">
    <h1 class="text-center text-white mt-3">No projects! Create some!</h1>
</th:block>

<th:block th:if="${!#lists.isEmpty(models)}">
    <h1 class="text-center text-white mt-3">Pending projects</h1>
    <div class="row">
        <th:block th:each="project,iter : ${models}">
            <div class="col-md-4 mt-5">
                <div class="container">
                    <div class="box">
                        <div class="content">
                            <h2 th:text="${iter.index + 1}"></h2>
                            <h3 th:text="${project.name}"></h3>
                            <a th:href="@{/teams/assign-project/{id}(id=${project.id})}">Assign to a team</a>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</th:block>


<div class="fixed-bottom">
    <footer th:replace="/fragments/footer"></footer>
</div>
</body>
</html>