<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head"></head>
<body id="tasks">

<header>
    <nav th:replace="/fragments/navbar"></nav>
</header>

<th:block th:if="${#lists.isEmpty(tasks)}">
    <h1 class="text-center">No pending tasks in this project!</h1>
</th:block>

<th:block th:if="${!#lists.isEmpty(tasks)}">

    <h1 class="text-center">Choose a task</h1>

    <div class="row project-tasks-container m-5">

        <section id="tasks-data" class="cards-wrapper">
            <th:block th:each="task : ${tasks}">

                <a class="t_card" th:href="@{/users/assign-task/{id}(id=${task.id})}" style="--bg-img: url(/img/task-img.jpg)">
                    <div class="card-grid-space">
                        <div>
                            <h1 th:text="${task.name}"></h1>
                            <p th:text="'Required position: ' + ${task.requiredPosition}"></p>
                        </div>
                    </div>
                </a>

            </th:block>

        </section>

    </div>

</th:block>

<div class="fixed-bottom">
    <footer th:replace="/fragments/footer"></footer>
</div>

</body>
</html>