<th:block th:fragment="friend-removed-modal">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="modal fade" id="removeFriendModal">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Notification</h5>

                            </div>
                            <div class="modal-body">
                                Removed from friend list!
                            </div>
                            <div class="modal-footer">
                                <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

