<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head"></head>
<body>

<header>
    <nav th:replace="/fragments/navbar"></nav>
</header>

<main class="mt-3">

    <div class="container">
        <h1 class="text-center text-dark">All Tasks</h1>
        <hr class="hr-2 bg-dark mx-auto">

        <table id="table" class="table table-hover mx-auto">

            <thead>

            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Status</th>
                <th>Created On</th>
                <th>Action</th>
            </tr>

            </thead>

            <tbody>
            <th:block th:each="model, iter : ${models}">

                <tr>
                    <th th:text="${iter.index + 1}"></th>
                    <td th:text="${model.name}"></td>
                    <td th:text="${model.status}"></td>
                    <td th:text="${model.createdOn}"></td>
                    <td>
                        <a th:href="@{/tasks/details/{id}(id=${model.id})}" class="btn btn-info">Details</a>
                        <a th:href="@{/tasks/delete/{id}(id=${model.id})}" class="btn btn-danger">Delete</a>
                        <a th:href="@{/tasks/edit/{id}(id=${model.id})}" class="btn btn-primary">Edit</a>
                    </td>
                </tr>

            </th:block>

            </tbody>

        </table>

        <hr class="hr-2 bg-dark">
    </div>


</main>

<footer th:replace="/fragments/footer"></footer>
<script>
    $(document).ready(function () {
        $('#table').DataTable({

            language: {
                oPaginate: {
                    sNext: '<i class="fa fa-forward"></i>',
                    sPrevious: '<i class="fa fa-backward"></i>',
                    sFirst: '<i class="fa fa-step-backward"></i>',
                    sLast: '<i class="fa fa-step-forward"></i>'
                }
            },
            pagingType: 'full_numbers',
        });
    });
</script>
</body>

</html>