<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head"></head>
<body>

<header>
    <nav th:replace="/fragments/navbar"></nav>
</header>

<main class=" text-center">
    <h1 class="text-center text-dark">Create Task</h1>
    <hr class="hr-2 bg-dark w-25">
    <form class="form w-25 mx-auto" th:action="@{/tasks/create}" th:method="post" th:object="${model}">
        <input type="hidden" name="_csrf" value="c95ccb2b-1afa-47bd-bf7b-a5b72739470b">
        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'text-danger'">
            <label for="name" class="font-weight-bold">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name..." th:field="*{name}">
            <small th:each="error : ${#fields.errors('name')}" th:utext="${error}  + '&lt;br /&gt;'"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'text-danger'">
            <label for="description" class="font-weight-bold">Description</label>
            <textarea class="form-control" id="description" placeholder="Description..."
                      th:field="*{description}"></textarea>
            <small th:each="error : ${#fields.errors('description')}" th:utext="${error}  + '&lt;br /&gt;'"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('requiredPosition')}? 'text-danger'">
            <label for="add-task-position" class="font-weight-bold">Required Position</label>
            <select class="form-control" id="add-task-position" th:field="*{requiredPosition}">
                <option value="default" selected="" disabled>--- Select Position ---</option>
            </select>
            <small th:each="error : ${#fields.errors('requiredPosition')}"
                   th:utext="${error}  + '&lt;br /&gt;'"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('project')}? 'text-danger'">
            <label for="add-task-project" class="font-weight-bold">Project</label>
            <select class="form-control" id="add-task-project" th:field="*{project}">
                <option value="default" selected="" disabled>--- Select Project ---</option>
            </select>
            <small th:each="error : ${#fields.errors('project')}" th:utext="${error}  + '&lt;br /&gt;'"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('credits')}? 'text-danger'">
            <label for="credits" class="font-weight-bold">Credits</label>
            <input type="number" class="form-control" id="credits" placeholder="Credits..." th:field="*{credits}">
            <small th:each="error : ${#fields.errors('credits')}" th:utext="${error}  + '&lt;br /&gt;'"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('minutesNeeded')}? 'text-danger'">
            <label for="minutesNeeded" class="font-weight-bold">Accomplish time</label>
            <input type="number" class="form-control" id="minutesNeeded" placeholder="Minutes Needed..."
                   th:field="*{minutesNeeded}">
            <small th:each="error : ${#fields.errors('minutesNeeded')}" th:utext="${error}  + '&lt;br /&gt;'"></small>
        </div>
        <hr class="hr-2 bg-dark">
        <div class="button-holder d-flex justify-content-center mb-1">
            <button type="submit" class="btn btn-dark">Create</button>
        </div>
    </form>
</main>

<footer th:replace="/fragments/footer"></footer>
</body>
<script>

    fetch('/tasks/fetchPositions')
        .then((response) => response.json())
        .then((json) => {
            json.forEach((position) => $('#add-task-position').append(`<option value="${position}">${position}</option>`));
        })
        .catch((err) => console.log(err));

    fetch('/projects/fetch')
        .then((response) => response.json())
        .then((json) => {
            json.forEach((project) => $('#add-task-project').append(`<option value="${project.id}">${project.name}</option>`));
        })
        .catch((err) => console.log(err));

    $(document).ready(function () {
       document.getElementsByTagName("footer")[0].classList.remove("fixed-bottom");
    });

</script>
</html>