<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head"></head>
<body>

<header>
    <nav th:replace="/fragments/navbar"></nav>
</header>

<main class="text-center">
    <h1 class="text-center text-dark">Edit Task</h1>
    <hr class="hr-2 bg-dark w-25">
    <form class="form w-25 mx-auto m-5" th:action="@{/tasks/edit/{id}(id=${model.id})}" th:method="post"
          th:object="${model}">
        <input type="hidden" name="_csrf" value="c95ccb2b-1afa-47bd-bf7b-a5b72739470b">
        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'text-danger'">
            <label for="name" class="font-weight-bold">Name</label>
            <input type="text" class="form-control" id="name" th:value="${model.name}" th:field="*{name}">
            <small th:each="error : ${#fields.errors('name')}" th:text="${error}"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'text-danger'">
            <label for="description" class="font-weight-bold">Description</label>
            <textarea class="form-control" id="description" th:value="${model.description}"
                      th:field="*{description}"></textarea>
            <small th:each="error : ${#fields.errors('description')}" th:text="${error}"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('requiredPosition')}? 'text-danger'">
            <label for="add-task-position" class="font-weight-bold">Required Position</label>
            <select class="form-control" id="add-task-position" th:field="*{requiredPosition}">
                <option value="default" selected="" disabled>--- Select Position ---</option>
            </select>
            <small th:each="error : ${#fields.errors('requiredPosition')}" th:text="${error}"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('project')}? 'text-danger'">
            <label for="add-task-project" class="font-weight-bold">Project</label>
            <select class="form-control" id="add-task-project" th:field="*{project}">
                <option value="default" selected="" disabled>--- Select Project ---</option>
            </select>
            <small th:each="error : ${#fields.errors('project')}" th:text="${error}"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('credits')}? 'text-danger'">
            <label for="credits" class="font-weight-bold">Credits</label>
            <input type="number" class="form-control" id="credits" th:value="${model.credits}" th:field="*{credits}">
            <small th:each="error : ${#fields.errors('credits')}" th:text="${error}"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('minutesNeeded')}? 'text-danger'">
            <label for="minutesNeeded" class="font-weight-bold">Accomplish time</label>
            <input type="number" class="form-control" id="minutesNeeded" th:value="${model.minutesNeeded}" th:field="*{minutesNeeded}">
            <small th:each="error : ${#fields.errors('minutesNeeded')}" th:text="${error}"></small>
        </div>
        <hr class="hr-2 bg-dark">
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-dark">Edit</button>
        </div>
    </form>
</main>

<footer th:replace="/fragments/footer"></footer>
</body>
<script th:inline="javascript">

    let requiredPosition = [[${model.requiredPosition}]];
    let assignedProject = [[${model.project}]];

    console.log(assignedProject);


    fetch('/tasks/fetchPositions')
        .then((response) => response.json())
        .then((json) => {
            json.forEach(
                (position) => $('#add-task-position').append(position === requiredPosition ?
                    `<option selected="selected" value="${position}">${position}</option>` :
                    `<option value="${position}">${position}</option>`)
            );
        })
        .catch((err) => console.log(err));

    fetch('/projects/fetch')
        .then((response) => response.json())
        .then((json) => {
            json.forEach((project) => $('#add-task-project').append(project.name === assignedProject ?
                `<option  selected="selected" value="${project.id}">${project.name}</option>`
                : `<option  value="${project.id}">${project.name}</option>`));
        })
        .catch((err) => console.log(err));
</script>
</html>