<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head"></head>
<body class="edit">

<header>
    <nav th:replace="/fragments/navbar"></nav>
</header>

<main>
    <div class="jumbotron"  th:object="${model}">

        <div class="row mb-2">
            <div class="col col-md-6 text-center content-holder">
                <h4 class="mt-2 font-italic" th:text="${'Address: ' + model.address}"></h4>
            </div>

        </div>

        <div class="row mt-1">
            <div class="col col-md-12 text-center">
                <h4 class="font-italic">Teams: </h4>

                <div class="numberCircle mb-3" th:text="${#lists.size(model.teams)}"></div>
            </div>
        </div>

            <div class="team_wrapper">

                <div class="choose_team_box mb-5">

                    <th:block th:each="team : ${model.teams}">

                        <div th:onclick="'window.location.href = \'' + @{'/teams/details/' + ${team.id}} + '\''" class="choose_team_card">
                            <div class="choose_team_imgBx">
                                <img th:src="${team.logoUrl}" alt="images">
                            </div>
                            <div class="choose_team_details">
                                <h2 th:text="${team.name}"></h2>
                            </div>
                        </div>

                    </th:block>

                </div>
            </div>

        <div class="row mt-3">
            <div class="col col-md-12 content-holder text-center">
                <h4 class="font-italic mt-1" th:text="${ 'Phone Number: ' + model.phoneNumber}"></h4>
            </div>
        </div>
    </div>
</main>

<div class="fixed-bottom">
    <footer th:replace="/fragments/footer"></footer>
</div>
</body>
</html>