<table id="table" class="table table-hover mx-auto">

    <thead>

    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    </thead>

    <tbody>
    <!--/*@thymesVar id="users" type="java.util.List"*/-->
    <th:block th:each="model, iter : ${models}">

        <tr>
            <th th:text="${iter.index + 1}"></th>
            <td th:text="${model.name}"></td>
            <td th:text="${#strings.replace(model.status,'_',' ')}"></td>
            <td>
                <a th:href="@{/projects/details/{id}(id=${model.id})}" class="btn btn-info">Details</a>
                <a th:href="@{/projects/delete/{id}(id=${model.id})}" class="btn btn-danger">Delete</a>
                <a th:href="@{/projects/edit/{id}(id=${model.id})}" class="btn btn-primary">Edit</a>
            </td>
        </tr>

    </th:block>

    </tbody>

</table>

<script>
    $('#table').DataTable({

        language: {
            oPaginate: {
                sNext: '<i class="fa fa-forward"></i>',
                sPrevious: '<i class="fa fa-backward"></i>',
                sFirst: '<i class="fa fa-step-backward"></i>',
                sLast: '<i class="fa fa-step-forward"></i>'
            }
        },
        pagingType: 'full_numbers',
    });
</script>
