<table id="table" class="table table-hover mx-auto">

    <thead>

    <tr>
        <th>#</th>
        <th>Country</th>
        <th>Town</th>
        <th>Action</th>
    </tr>

    </thead>

    <tbody>
    <!--/*@thymesVar id="users" type="java.util.List"*/-->
    <th:block th:each="model, iter : ${models}">

        <tr>
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${model.country}"></td>
            <td th:text="${model.town}"></td>
            <td>
                <div class="row">
                    <a th:href="@{/offices/details/{id}(id=${model.id})}" class="btn btn-dark m-1">Details</a>
                    <a th:href="@{/offices/delete/{id}(id=${model.id})}" class="btn btn-dark m-1">Delete</a>
                    <a th:href="@{/offices/edit/{id}(id=${model.id})}" class="btn btn-dark m-1">Edit</a>
                </div>

            </td>
        </tr>

    </th:block>

    </tbody>

</table>



<script>
    $('#table').DataTable({

        language: {
            oPaginate: {
                sNext: '<i class="fa fa-forward"></i>',
                sPrevious: '<i class="fa fa-backward"></i>',
                sFirst: '<i class="fa fa-step-backward"></i>',
                sLast: '<i class="fa fa-step-forward"></i>'
            }
        },
        pagingType: 'full_numbers',
    });
</script>