
<th:block>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dream Company</title>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
              integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/projects.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/teams.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/team.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/project.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/assigned-tasks.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/loading.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/timer.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/home-projects.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/radio-buttons.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/project-details.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/task-details.css}">

        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/dataTables.min.js}"></script>

    </head>
</th:block>