<style>

   .navbar{
        display: flex;
        margin: auto;
        text-align: right;
    }
    .nav-item {
        text-transform: uppercase;
        cursor: pointer;
        color: #ebebeb;
    }

    .nav-item:hover {
        background-image: url('http://scottyzen.com/cp/button.png');
        background-size: 100% 100%;
        color: #27262c;
        animation: spring 300ms ease-out;
        text-shadow: 0 -1px 0 #ef816c;
        font-weight: bold;
    }
    .nav-item:active {
        transform: translateY(4px);
    }

    @keyframes spring {
        15% {
            -webkit-transform-origin: center center;
            -webkit-transform: scale(1.2, 1.1);
        }
        40% {
            -webkit-transform-origin: center center;
            -webkit-transform: scale(0.95, 0.95);
        }
        75% {
            -webkit-transform-origin: center center;
            -webkit-transform: scale(1.05, 1);
        }
        100% {
            -webkit-transform-origin: center center;
            -webkit-transform: scale(1, 1);
        }
    }
</style>
<th:block>
    <th:block sec:authorize="isAnonymous()">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
            <a class="navbar-brand" th:href="@{/}">
                <!-- Logo Image -->
                <img src="/img/company-logo.png" style="border-radius: 50%;width: 40px; height: 40px"
                     class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->
                <span class="text-uppercase font-weight-bold">Dream Company</span>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navb"
                    aria-expanded="true">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navb" class="collapse navbar-collapse collapse hide">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/register}"><span class="fas fa-user"></span> Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/login}"><span class="fas fa-sign-in-alt"></span> Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
            <a class="navbar-brand" th:href="@{/home}">
                <!-- Logo Image -->
                <img src="/img/company-logo.png" style="border-radius: 50%;width: 40px; height: 40px;" alt=""
                     class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->
                <span class="text-uppercase font-weight-bold">Dream Company</span>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navb1"
                    aria-expanded="true">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navb1" class="collapse navbar-collapse collapse hide">

                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/chat}">Chat</a>
                    </li>

                    <th:block sec:authorize="hasRole('ROLE_ROOT')">

                        <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="rootDropdown"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manager
                            </a>
                            <div class="dropdown-menu" aria-labelledby="rootDropdown">

                                <th:block th:if="${#session.getAttribute('hasProjects')}">
                                    <a class="dropdown-item" th:href="@{/projects/manage}">Manage Projects</a>
                                </th:block>

                                <a class="dropdown-item" th:href="@{/projects/statistics}">Project Statistics</a>
                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" th:href="@{/users/promote}">Promote</a>
                                <a class="dropdown-item" th:href="@{/users/demote}">Demote</a>
                            </div>
                        </div>

                        </li>

                    </th:block>

                    <th:block th:if="${#session.getAttribute('hasTeam')}">

                        <li class="nav-item">
                            <a class="nav-link"
                               th:href="@{/teams/details/{id}(id=${#session.getAttribute('teamId')})}">My
                                Team</a>
                        </li>

                    </th:block>

                    <th:block th:if="${#session.getAttribute('isLeaderWithAssignedProject')}">
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="teamLeaderDropdown"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Team Leader
                                </a>
                                <div class="dropdown-menu" aria-labelledby="teamLeaderDropdown">

                                        <a class="dropdown-item" th:href="@{/projects/assigned}">Team Project</a>
                                        <th:block th:if="${#session.getAttribute('projectHaveTasks')}">
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item"
                                               th:href="@{/projects/project-tasks/{id}(id=${#session.getAttribute('projectId')})}">Manage
                                                Tasks</a>
                                        </th:block>

                                </div>
                            </div>
                        </li>
                    </th:block>


                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="adminDropdown"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                    <a class="dropdown-item" th:href="@{/users/all}">All Users</a>
                                </div>
                            </div>
                        </li>
                    </th:block>
                    <th:block sec:authorize="hasRole('ROLE_MODERATOR')">
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="moderatorDropdown"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Moderator
                                </a>
                                <div class="dropdown-menu" aria-labelledby="moderatorDropdown">
                                    <a class="dropdown-item" th:href="@{/create}">Create</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" th:href="@{/show}">Show</a>
                                </div>
                            </div>
                        </li>
                    </th:block>

                    <li class="nav-item avatar dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img th:src="${session.userImageUrl}"
                                 style="width: 28px; height: 28px; border: solid 1px white"
                                 class="rounded-circle z-depth-0"
                                 alt="avatar image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                             aria-labelledby="navbarDropdownMenuLink-55">
                            <a class="dropdown-item"
                               th:href="@{'/users/profile/' + ${#authentication.getPrincipal().getUsername()}}">Profile</a>
                            <a class="dropdown-item" th:href="@{/users/edit}">Edit</a>
                            <th:block sec:authorize="!hasRole('ROLE_ROOT')">
                                <a class="dropdown-item" th:href="@{/users/my-tasks}">My tasks</a>
                            </th:block>
                            <a class="dropdown-item" id="logout" th:href="@{/users/logout?login}">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </th:block>
</th:block>

