<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head"></head>
<body id="choose-employee">

<header>
    <nav th:replace="/fragments/navbar"></nav>
</header>

<th:block th:if="${#lists.isEmpty(employees)}">
        <h1 class="text-center mt-5 content-holder">NO ONE MEETS THE CRITERIA IN THE TEAM</h1>
</th:block>

<th:block th:if="${!#lists.isEmpty(employees)}">
    <section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1 content-holder">ALL WHO MEET THE CRITERIA IN THE TEAM</h5>
            <div class="row">
                <th:block th:each="employee : ${employees}">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p>
                                                <img class="img-fluid" alt="Team Cards Flipper"
                                                     th:src="${(employee.imageUrl != null && !#strings.isEmpty(employee.imageUrl)) ? employee.imageUrl : '/img/default-avatar.png'}"/>
                                            </p>
                                            <h4 class="card-title" th:text="${employee.position}"></h4>
                                            <p class="card-text" th:text="${employee.fullName}"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title" th:text="${employee.position}"></h4>
                                            <p class="card-text">This employee is in the company since <span
                                                    th:text="${employee.hiredOn}"></span></p>

                                            <div class="row mt-5">

                                                <div class="col-md-6">
                                                    <form th:action="@{'/users/profile/' + ${employee.username}}"
                                                          method="get">
                                                        <button class="btn btn-outline-light">Profile</button>
                                                    </form>
                                                </div>

                                                <div class="col-md-6">
                                                    <form th:action="@{'/users/assign-task/' + ${chosenTaskId} + '/' + ${employee.id}}"
                                                          method="post">
                                                        <button class="btn btn-outline-light">Assign</button>
                                                    </form>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </section>
</th:block>

<div class="fixed-bottom">
    <footer th:replace="/fragments/footer"></footer>
</div>
</body>
</html>