<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head"></head>
<body>

<header>
    <nav th:replace="/fragments/navbar"></nav>
</header>

<main class="text-center">

    <h1 class="text-center text-dark">Edit Profile</h1>
    <hr class="hr-2 bg-dark w-25">

    <form class="form w-25 mx-auto m-5" th:action="@{/users/edit}" th:method="patch" th:object="${editModel}" enctype="multipart/form-data">

        <input type="hidden" name="_csrf" value="80417983-fe8b-45c7-963e-31f6915a1560">

        <div class="form-group">
            <label for="username" class="font-weight-bold">Username</label>
            <input type="text" th:value="*{username}" class="form-control" th:field="${editModel.username}" id="username" readonly>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('oldPassword')}? 'text-danger'">
            <label for="oldPassword" class="font-weight-bold">Old Password</label>
            <input type="password" class="form-control" id="oldPassword" placeholder="Old Password..." th:field="${editModel.oldPassword}" required="">
            <small th:each="error : ${#fields.errors('oldPassword')}" th:utext="${error}  + '&lt;br /&gt;'"></small>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'text-danger'">
            <label for="password" class="font-weight-bold">New Password</label>
            <input type="password" class="form-control" id="password" placeholder="New Password..." th:field="${editModel.password}">
            <small th:each="error : ${#fields.errors('password')}" th:utext="${error}  + '&lt;br /&gt;'"></small>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'text-danger'">
            <label for="confirmPassword" class="font-weight-bold">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm New Password..." th:field="${editModel.confirmPassword}">
            <small th:each="error : ${#fields.errors('confirmPassword')}" th:utext="${error}  + '&lt;br /&gt;'"></small>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'text-danger'">
            <label for="email" class="font-weight-bold">Email</label>
            <input type="email" th:value="*{email}" class="form-control" id="email" placeholder="Email..." th:field="${editModel.email}">
            <small th:each="error : ${#fields.errors('email')}" th:utext="${error}  + '&lt;br /&gt;'"></small>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'text-danger'">
            <label for="firstName" class="font-weight-bold">First Name</label>
            <input type="text" th:value="*{firstName}" class="form-control" id="firstName" placeholder="First Name..." th:field="${editModel.firstName}">
            <small th:each="error : ${#fields.errors('firstName')}" th:utext="${error}  + '&lt;br /&gt;'"></small>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'text-danger'">
            <label for="lastName" class="font-weight-bold">Last Name</label>
            <input type="text" th:value="*{lastName}" class="form-control" id="lastName" placeholder="Last Name..." th:field="${editModel.lastName}">
            <small th:each="error : ${#fields.errors('lastName')}" th:utext="${error}  + '&lt;br /&gt;'"></small>
        </div>

        <div class="form-group">
            <label for="picture" class="font-weight-bold">Upload picture:</label>
            <input type="file" id="picture" th:field="${editModel.picture}">
        </div>

        <hr class="hr-2 bg-dark">

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-dark">Edit</button>
        </div>

    </form>

</main>

<footer th:replace="/fragments/footer"></footer>
</body>
</html>