@import url('https://fonts.googleapis.com/css?family=Poppins');

#project-details-body {
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-image: url("/img/project-details-background.jpg");
    background-size: 200px;
    background-repeat: repeat;
    background-color: rgba(255, 255, 255, 0.1);
}

.project-tasks-container {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-task-box {
    position: relative;
    width: 250px;
    height: 350px;
    background: #000;
    box-shadow: 0 30px 30px rgba(0,0,0,.5);
}

.project-task-box .imgBx {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-task-box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.project-task-box:hover .imgBx img {
    opacity: 0;
}

.project-task-box .task-content {
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    transition: 0.5s;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
}

.project-task-box:hover .task-content {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.project-task-box .task-content h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.project-task-box .task-content p {
    margin: 10px 0 0;
    padding: 0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.5s;
    text-align: justify;
}

.project-task-box:hover .task-content p {
    opacity: 1;
    transition-delay: 0.5s;
}

#project-details-html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #444;
}
#project-details-body {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #34495e;
}
a {
    text-decoration: none !important;
}
.blog-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
    margin: 1rem auto 1.6%;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}
.blog-card a {
    color: inherit;
}
.blog-card a:hover {
    color: #5ad67d;
}
.blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}
.blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}
.blog-card .details, .blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}
.blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
}
.blog-card .details a {
    text-decoration: dotted underline;
}
.blog-card .details ul li {
    display: inline-block;
}
.blog-card .details .author:before {
    font-family: FontAwesome, serif;
    margin-right: 10px;
    content: "\f007";
}
.blog-card .details .date:before {
    font-family: FontAwesome, serif;
    margin-right: 10px;
    content: "\f133";
}
.blog-card .details .tags ul:before {
    font-family: FontAwesome, serif;
    content: "\f02b";
    margin-right: 10px;
}
.blog-card .details .tags li {
    margin-right: 2px;
}
.blog-card .details .tags li:first-child {
    margin-left: -4px;
}
.blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}
.blog-card .description h1, .blog-card .description h2 {
    font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}
.blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}
.blog-card .description .read-more {
    text-align: right;
}
.blog-card .description .read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative;
}
.blog-card .description .read-more a:after {
    content: "\f061";
    font-family: FontAwesome, serif;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}
.blog-card p {
    position: relative;
    margin: 1rem 0 0;
}
.blog-card p:first-of-type {
    margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}
.blog-card:hover .details {
    left: 0;
}
@media (min-width: 640px) {
    .blog-card {
        flex-direction: row;
        max-width: 700px;
    }
    .blog-card .meta {
        flex-basis: 40%;
        height: auto;
    }
    .blog-card .description {
        flex-basis: 60%;
    }
    .blog-card .description:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
}




:root {
    --color: #3c3163;
    --transition-time: 0.5s;
}

* {
    box-sizing: border-box;
}

#project-details-body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Open Sans';
}

a {
    color: inherit;
}

.cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding: 4rem;
    margin: 0 auto;
    width: max-content;
}

.t_card {
    font-family: 'Heebo';
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
    height: 20em;
    width: 15em;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    /*margin: 2em;*/
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em black;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 10px solid #ccc;
    text-decoration: none;
}

.t_card:hover {
    transform: rotate(0);
}

.t_card h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
}

.t_card p {
    font-size: 0.75em;
    font-family: 'Open Sans';
    margin-top: 0.5em;
    line-height: 2em;
}

.t_card .tags {
    display: flex;
}

.t_card .tags .tag {
    font-size: 0.75em;
    background: rgba(255,255,255,0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
}

.t_card:hover .tags .tag {
    background: var(--color);
    color: white;
}

.t_card .date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
    padding: 1em;
    line-height: 1em;
    opacity: .8;
}

.t_card:before, .card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
}

.t_card:before {
    background: #ddd;
    width: 250%;
    height: 250%;
}

.t_card:after {
    background: white;
    width: 200%;
    height: 200%;
}

.t_card:hover {
    color: var(--color);
}

.t_card:hover:before, .card:hover:after {
    transform: scale(1);
}

.t_card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
}

.info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
}

.info img {
    height: 3em;
    margin-right: 0.5em;
}

.info h1 {
    font-size: 1em;
    font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
    .cards-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .cards-wrapper {
        grid-template-columns: 1fr;
    }
    .info {
        justify-content: center;
    }
    .card-grid-space .num {
    /margin-left: 0;
    /text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .cards-wrapper {
        padding: 4rem 2rem;
    }
    .t_card {
        max-width: calc(100vw - 4rem);
    }
}

@media screen and (max-width: 450px) {
    .info {
        display: block;
        text-align: center;
    }
    .info h1 {
        margin: 0;
    }
}

