 body{
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    background-size: 100%;
}

#home{
    background-image: url('/img/52496497-office-desk-table-with-computer-supplies-flower-top-view-copy-space-for-text-.jpg');
}

#index{
    background-image: url("/img/item-3.jpg");
}

.jumbotron{
    background: none;
}
