body {
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    background-size: 100%;
}

table {
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
}

#choose-employee {
    background-image: url("/img/Wood-Background-Repeat.jpg");
    background-repeat: repeat;
    background-size: 30%;
    background-color: rgba(255, 255, 255, 0.3);
}

#tasks {
    background-image: url('/img/task-details-background.jpg');
    background-size: 200px;
    background-repeat: repeat;
}

#choose {
    background-image: url('/img/choose-team-background.jpg');
    background-size: 200px;
    background-repeat: repeat;
}

#home {
    background-image: url('/img/choose-team-background.jpg');
    background-size: 200px;
    background-repeat: repeat;
}

#task-details-body {
    background-image: url('/img/task-details-background.jpg');
    background-size: 200px;
    background-repeat: repeat;
}

.all {
    background-image: url('/img/tables-background.jpg');
    background-size: 300px;
    background-repeat: repeat;
}

.table {
    background-color: #666666;
    color: #1abc9c;
}


.jumbotron {
    background: none;
}

.project-details-box {
    margin: 30px;
    padding: 30px;
    border: 1px solid white;
    width: 400px;
    height: 200px;
}
