#ten-countdown {
    /* text-align: center; */
    border: 5px solid white;
    display:inline;
    padding: 5px;
    color: white;
    font-family: Verdana, sans-serif, Arial;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

#loading {

    text-align: center;
}