<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}">
    </th:block>
    <link rel="stylesheet" href="css/home.css">
</head>

<body id="home">

<header>
    <nav th:replace="/fragments/navbar"></nav>
</header>

<div class="text-center mt-4 container-fluid">

    <div id="welcome-message">
        <div id="welcome-container">
            <h1>Welcome, <span th:text="${#authorization.getAuthentication().getName()}"></span></h1>

            <div class="text-center content-holder">
                <span class="numberCircle" th:text="${friendRequests.size()}"></span>
            </div>

            <div class="content-holder mt-2">
                <h2 class="text-dark font-italic m-1"> Friend requests </h2>
            </div>
        </div>

        <th:block th:each="request , iter : ${friendRequests}">
            <div id="fb">
                <div id="fb-top">
                    <p class="text-white"><b>Friend Request</b></p>
                </div>
                <img th:src="${(request.senderImageUrl != null ? request.senderImageUrl : '/img/default-avatar.png')}"
                     height="100" width="100" alt="Image of sender">
                <p id="info"><b th:text="${request.senderFirstName} + ' ' + ${request.senderLastName}"></b> <br> <span
                        th:text="${request.mutualFriends} + ' mutual friends'"></span></p>
                <div id="button-block">
                    <div class="confirm" th:id="${'confirm' + iter.index}">Confirm</div>
                    <div class="delete" th:id="${'decline' + iter.index}">Decline</div>
                    <input type="hidden" th:id="${iter.index}" th:value="${request.id}">
                </div>
            </div>
        </th:block>
    </div>

    <div class="fixed-bottom">
        <footer th:replace="/fragments/footer"></footer>
    </div>

    <script th:inline="javascript">

        let size = [[${friendRequests}]].length;

        for (let i = 0; i < size; i++) {

            let requestId = $('#' + i.toString()).val();

            let confirmButtonSelector = '#confirm' + i;

            let confirmButton = $(confirmButtonSelector);

            confirmButton.on("click", function () {

                fetch('/api/requests/accept', {
                    method: 'post',
                    body: requestId,
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(data => {
                        console.log(data);
                        window.location = '/home';
                    });
            });

            let declineButtonSelector = '#decline' + i;
            let declineButton = $(declineButtonSelector);

            declineButton.on("click", function () {

                fetch('/api/requests/decline', {
                    method: 'post',
                    body: requestId,
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(data => {
                    console.log(data);
                    window.location = '/home';
                });
            })
        }
    </script>

</body>
</html>