<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head"></head>

<script src="/js/angular.min.js"></script>
<script src="/js/projectController.js"></script>

<body id="home">

<header>
    <nav th:replace="/fragments/navbar"></nav>
</header>

<div class="text-center mt-4 container-fluid">

    <h1 class="text-white mb-4">Welcome, <span th:text="${#authorization.getAuthentication().getName()}"></span></h1>

    <th:block th:if="${#session.getAttribute('isLeaderWithAssignedProject')}">

        <h2>Your team project</h2>


        <div class="project-card mx-auto mb-5">


            <a th:href="@{/projects/details/{id}(id=${#session.getAttribute('projectId')})}">
                <div class="card__image-container">
                    <img class="card__image" src="../static/img/newrobot.jpg" th:src="@{/img/newrobot.jpg}" alt="">
                </div>


                <svg class="card__svg" viewBox="0 0 800 500">

                    <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                          stroke="transparent" fill="#333"/>
                    <path class="card__line"
                          d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                          stroke="pink" stroke-width="3" fill="transparent"/>
                </svg>
            </a>

            <div class="card__content">
                <h1 class="card__title" th:text="${project.name}"></h1>

                <th:block th:if="${hasTasks && projectIsCompleted}">
                    <form th:action="@{/projects/complete/{id}(id=${project.id})}" method="post">
                        <button id="complete" class="btn btn-success">Complete The Project</button>
                    </form>
                </th:block>

                <th:block th:if="${!hasTasks}">
                    <h2>No tasks created yet for this project</h2>
                </th:block>

            </div>

        </div>

    </th:block>


    <div data-ng-app="DreamCompany" data-ng-controller="projectCtrl" sec:authorize="hasRole('ROLE_ROOT')">
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="radio-box">
                    <p>Projects</p>
                    <label>
                        <input data-ng-click="fetchProjects($event)" type="radio" id="allRadio" name="selection"
                               value="all">
                        <span class="yes">All</span>
                    </label>

                    <th:block th:each="status : ${statuses}">

                        <label>
                            <input data-ng-click="fetchProjects($event)" type="radio" th:id="${status}" name="selection"
                                   th:value="${status}">
                            <span class="yes" th:for="${status}" th:text="${#strings.replace(status,'_',' ')}"></span>
                        </label>

                    </th:block>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="projects-data" class="projects-container ml-5">
                    <div id="columns" class="row">

                        <div class="project-row row d-flex justify-content-around">

                        </div>

                    </div>
                    <div class="row">
                        <h1 id="no-data" class="font-weight-bold text-white mt-4 ml-3">


                        </h1>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <th:block th:each="request , iter : ${friendRequests}">
        <div id="fb">
            <div id="fb-top">
                <p><b>Friend Request</b></p>
            </div>
            <img th:src="${(request.senderImageUrl != null ? request.senderImageUrl : '/img/default-avatar.png')}"
                 height="100" width="100" alt="Image of sender">
            <p id="info"><b th:text="${request.senderFirstName} + ' ' + ${request.senderLastName}"></b> <br> <span
                    th:text="${request.mutualFriends} + ' mutual friends'"></span></p>
            <div id="button-block">
                <div class="confirm" th:id="${'confirm' + iter.index}">Confirm</div>
                <div class="delete" th:id="${'decline' + iter.index}">Decline</div>
                <input type="hidden" th:id="${iter.index}" th:value="${request.id}">
            </div>
        </div>
    </th:block>


</div>

<div class="fixed-bottom">
    <footer th:replace="/fragments/footer"></footer>
</div>

<script th:inline="javascript">

    let size = [[${friendRequests}]].length;

    for (let i = 0; i < size; i++) {

        let requestId = $('#' + i.toString()).val();

        let confirmButtonSelector = '#confirm' + i;

        let confirmButton = $(confirmButtonSelector);

        confirmButton.on("click", function () {

            fetch('/api/requests/accept', {
                method: 'post',
                body: requestId,
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(data => {
                    console.log(data);
                    window.location = '/home';
                });
        });

        let declineButtonSelector = '#decline' + i;
        let declineButton = $(declineButtonSelector);

        declineButton.on("click", function () {

            fetch('/api/requests/decline', {
                method: 'post',
                body: requestId,
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(data => {
                console.log(data);
                window.location = '/home';
            });
        })
    }
</script>

</body>
</html>