<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head"></head>
<body>

<header>
    <nav th:replace="/fragments/navbar"></nav>
</header>

<main class="text-center">
    <h1 class="text-center text-dark">Register</h1>
    <hr class="hr-2 bg-dark w-25">
    <!--/*@thymesVar id="model" type="softuni.productshop.domain.model.binding.UserRegisterBindingModel"*/-->
    <form class="form w-25 mx-auto m-5 " th:action="@{/users/register}" th:method="post" th:object="${model}">
        <input type="hidden" name="_csrf" value="c95ccb2b-1afa-47bd-bf7b-a5b72739470b">
        <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'text-danger'">
            <label for="username" class="font-weight-bold">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username..." th:field="*{username}">
            <small th:each="error : ${#fields.errors('username')}" th:text="${error}"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'text-danger'">
            <label for="password" class="font-weight-bold">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password..." th:field="*{password}">
            <small th:each="error : ${#fields.errors('password')}" th:text="${error}"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'text-danger'">
            <label for="confirmPassword" class="font-weight-bold">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password..."
                   th:field="*{confirmPassword}">
            <small th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'text-danger'">
            <label for="email" class="font-weight-bold">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email..." th:field="*{email}">
            <small th:each="error : ${#fields.errors('email')}" th:text="${error}"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'text-danger'">
            <label for="firstName" class="font-weight-bold">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name..." th:field="*{firstName}">
            <small th:each="error : ${#fields.errors('firstName')}" th:text="${error}"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'text-danger'">
            <label for="lastName" class="font-weight-bold">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="First Name..." th:field="*{lastName}">
            <small th:each="error : ${#fields.errors('lastName')}" th:text="${error}"></small>
        </div>
        <hr class="hr-2 bg-dark">
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-dark">Register</button>
        </div>
    </form>
</main>

<footer th:replace="/fragments/footer"></footer>
</body>
</html>