<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head"></head>

<body id="choose" th:object="${teams}">

<header>
    <nav th:replace="/fragments/navbar"></nav>
</header>

<th:block th:if="${#lists.isEmpty(teams)}">
    <h1 class="text-center text-white mt-3">No free teams! Create some!</h1>
</th:block>

<th:block th:if="${!#lists.isEmpty(teams)}">
    <h1 class="text-center text-white mt-3">Choose team</h1>

    <div class="team_wrapper">

        <div class="choose_team_box mb-5">

            <th:block th:each="team : ${teams}">

                <div th:onclick="'window.location.href = \'' + @{'/teams/details/' + ${team.id}} + '\''" class="choose_team_card">
                    <div class="choose_team_imgBx">
                        <img th:src="${team.logoUrl}" alt="images">
                    </div>
                    <div class="choose_team_details">
                        <h2 th:text="${team.name}"><br>
                        </h2>
                        <form th:method="post"
                              th:action="@{'/teams/assign-project/' + ${chosenProjectId} + '/' + ${team.id}}">
                            <button class="btn btn-outline-dark">Assign</button>
                        </form>
                    </div>
                </div>

            </th:block>

        </div>
    </div>

</th:block>

<div class="fixed-bottom">
    <footer th:replace="/fragments/footer"></footer>
</div>



</body>
</html>