<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head"></head>
<body id="team-details">

<header>
    <nav th:replace="/fragments/navbar"></nav>
</header>

<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1" th:text="${'NAME: ' + model.name}">THE TEAM</h5>
        <div class="row">

            <th:block th:each="employee : ${model.employees}">

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="img-fluid" alt="Team Cards Flipper" th:src="${(employee.imageUrl != null && !#strings.isEmpty(employee.imageUrl)) ? employee.imageUrl : '/img/default-avatar.png'}" /></p>
                                        <h4 class="card-title" th:text="${employee.fullName}"></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title" th:text="${#strings.replace(employee.position,'_',' ')}"></h4>
                                        <p class="card-text mt-5">This employee is in the company since
                                        </p>
                                        <span class="text-white" th:text="${#temporals.format(employee.hiredOn, 'dd-MM-yyyy HH:mm')}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </th:block>

        </div>

        <h5 class="section-title h3" th:text="'Office: ' + ${model.officeAddress}"></h5>
    </div>
</section>

<div class="fixed-bottom">
    <footer th:replace="/fragments/footer"></footer>
</div>

</body>
</html>