<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head"></head>
<body class="edit">

<header>
    <nav th:replace="/fragments/navbar"></nav>
</header>

<main class="mt-3 text-center">


    <div th:object="${model}">

        <h1 class="text-center text-dark">Edit Team</h1>
        <hr class="hr-2 bg-dark w-25">

        <form class="form w-25 mx-auto " th:action="@{/teams/edit/{id}(id=${model.id})}" th:method="post"  enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="c95ccb2b-1afa-47bd-bf7b-a5b72739470b">
            <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'text-danger'">
                <label for="name" class="font-weight-bold">Name</label>
                <input type="text" class="form-control" id="name" th:value="*{name}" th:field="*{name}">
                <small th:each="error : ${#fields.errors('name')}" th:utext="${error}  + '&lt;br /&gt;'"></small>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('office')}? 'text-danger'">
                <label for="add-team-office" class="font-weight-bold">Office</label>
                <select class="form-control" id="add-team-office" th:field="*{office}">
                    <option value="default" selected="" disabled>--- Select Office ---</option>
                </select>
                <small th:each="error : ${#fields.errors('office')}" th:utext="${error}  + '&lt;br /&gt;'"></small>
            </div>

            <div class="form-group">
                <label for="picture" class="font-weight-bold">Upload logo:</label>
                <input type="file" id="picture" th:field="${model.logo}">
            </div>


            <hr class="hr-2 bg-dark">
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-dark">Edit</button>
            </div>

        </form>

        <div class="row">

            <th:block th:if="${#session.getAttribute('canAddEmployee')}">
                <div class="col-md-6">
                    <form th:action="@{/teams/add-employee/{id}(id=${model.id})}" th:method="get" class="mx-1">
                        <input type="hidden" name="_csrf" value="80417983-fe8b-45c7-963e-31f6915a1560">
                        <button class="btn btn-dark">Add employees</button>
                    </form>
                </div>
            </th:block>

            <th:block th:if="${#session.getAttribute('canRemoveEmployee')}">
                <div class="col-md-6">
                    <form th:action="@{/teams/remove-employee/{id}(id=${model.id})}" th:method="get" class="mx-1">
                        <input type="hidden" name="_csrf" value="80417983-fe8b-45c7-963e-31f6915a1560">
                        <button class="btn btn-dark">Remove employees</button>
                    </form>
                </div>
            </th:block>


        </div>

    </div>

</main>

<div class="fixed-bottom">
    <footer th:replace="/fragments/footer"></footer>
</div>

</body>
<script th:inline="javascript">

    let selectedOfficeId = [[${model.office}]];

    fetch('/offices/fetch')
        .then((response) => response.json())
        .then((json) => {
            json.forEach(
                (office) =>
                    $('#add-team-office').append(selectedOfficeId === office.id ?
                        `<option selected value="${office.id}">${office.address}</option>` :
                        `<option value="${office.id}">${office.address}</option>`)
            );
        })
        .catch((err) => console.log(err));

</script>
</html>